.notification {
  position: absolute;
  top: 240px;
  right: 580px;

  /* Tablets y phablets */
  @media only screen and (min-width: 576px) and (max-width: 867px) {
    position: absolute;
    top: 180px;
    width: 250px;
    right: 250px;
  }

  /* Teléfonos */
  @media only screen and (max-width: 575px) {
    position: absolute;
    top: 140px;
    width: 350px;
    right: 55px;
  }
  //
  text-align: center;
  //
  display: flex;
  flex-direction: column;
  align-items: center;
  //   margin-bottom: 15px;
  //
  width: 23%;
  border-radius: 24px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(157, 154, 154, 0.5);
  overflow: hidden;
  //   Keeps the popup hidden
  //   transform: scale(0);
  z-index: 1;
  transition: 0.5s ease, height 0.2s ease;

  .greetings {
    color: rgba(255, 255, 255, 0.878);
  }

  .close-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: rgba(202, 50, 219, 0.7);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(157, 154, 154, 0.5);
    border-bottom-left-radius: 20px;
    cursor: pointer;
  }

  .close-logo {
    margin-top: 7px;
    max-width: 30px;
    color: rgba(246, 236, 236, 0.577);
  }

  .close-container :hover {
    color: #ffffff;
    box-shadow: 0 0 30px rgba(157, 154, 154, 0.5);
  }

  .check-logo {
    // display: flex;
    // align-items: center;
    max-width: 60px;
    width: 100%;
    color: rgba(202, 50, 219, 0.7);
    margin-top: 20px;
  }

  h3 {
    // color: rgba(255, 255, 255, 0.878);
    color: rgba(202, 50, 219, 0.7);
    margin-top: 0px;
  }
}
.show {
  transform: scale(1);
}

.off {
  transform: scale(0);
}
