$bg-img: url("../../assets/sign-in.jpg");
.web-view {
  background-image: $bg-img;
  width: 100vw;
  height: 132vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  background: transparent;
  display: grid;
  justify-content: center;
}

.wrapper {
  position: relative;
  // bottom: 200px;
  width: 400px;
  height: 520px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(157, 154, 154, 0.5);
  // old rgb : rgba(0, 0, 0, 0.5)
  display: flex;
  justify-content: center;
  /* make the effect when the height change */
  transition: height 0.2s ease;
  overflow: hidden;
  margin-bottom: 25px;

  // .form-box {
  //   width: 100%;
  //   padding: 40px;
  // }
  // .singIn {
  //   transition: transform 0.18s ease;
  //   transform: translateX(0);
  // }

  .register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
  }

  h2 {
    font-size: 2em;
    color: #c4cbd2;
    text-align: center;
    margin-top: 2px;
  }

  // .input-box {
  //   position: relative;
  //   width: 100%;
  //   height: 50px;
  //   border-bottom: 2px solid #162938;
  //   margin: 30px 0;

  //   label {
  //     position: absolute;
  //     top: 50%;
  //     left: 5px;
  //     transform: translateY(-50%);
  //     font-size: 1em;
  //     color: #cbd6de;
  //     font-weight: 500;
  //     pointer-events: none;
  //     transition: 0.5s;
  //   }
  // }

  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.878);
    font-weight: 600;
  }

  .remember-forgot {
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
  }

  .a-forgot-password {
    color: rgba(202, 50, 219, 0.7);
    margin-right: 3px;
  }
}

.active {
  height: 650px;

  .singIn {
    transition: none;
    transform: translateX(-400px);
  }

  .register {
    transition: transform 0.18s ease;
    transform: translateX(0);
    display: grid;
    justify-content: center;
  }

  .web-view {
    height: 115vh;
  }
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.btn {
  margin-bottom: 10px;
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: 2px solid rgba(202, 50, 219, 0.7);
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  color: #ffff;
  font-weight: 500;
  transition: 0.5s;
}
.btn:hover {
  background: rgba(202, 50, 219, 0.7);
  color: #ffff;
}
.sing-in-register {
  font-size: 0.9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
  color: rgba(0, 0, 0, 0.467);
}

.register-link {
  // color: rgba(255, 255, 255, 0.823);
  color: rgba(202, 50, 219, 0.7);
  text-decoration: none;
  font-weight: 600;
}

.login-link {
  color: rgba(202, 50, 219, 0.7);
  text-decoration: none;
  font-weight: 600;
}

.a-forgot-password:hover {
  text-decoration: underline;
}
.register-link:hover {
  text-decoration: underline;
}
.login-link:hover {
  text-decoration: underline;
}
